{% load static %}
{% load sass_tags %}
{% load duration_filters %}

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="{% sass_src 'scss/dashboard.scss' %}"/>
</head>

<body>
    <!-- Header -->
    <header>
        <h1 class="dashboardTitleDiv">
            <img class="dashboardLogo" src="../../static/scss/media/logoIcon.svg"></img>
            <b class="dashboardTitle">studymap</b>
            <img class="dashboardLine" src="../../static/scss/media/line.svg"></img>
        </h1>
    </header>

    <h2 class="welcomeMsg">//welcome to your dashboard, {{ request.user.username }}</h2>
    <!-- Dashboard Container -->
    <div class="dashboard-container">
        <!-- Left Column -->
        <div class="dashboard-left">
            <!-- Dashboard Content -->

            <div class="dashboardBigIcon">
                <p class="streakNum">{{ streak }}</p>
                <p class="streakSubtitle">day streak</p>
            </div>

            <!-- Action Buttons -->
            <!--<div class="dashboard-buttons">
                <a href="{% url 'logout' %}" class="nb-button blue">logout</a>
                <a href="{% url 'study_timer' %}" class="nb-button blue">study timer</a>
                <a href="{% url 'study_statistics' %}" class="nb-button blue">view study statistics</a>
            </div>-->

            <!-- Study Streak -->
        </div>

        <div class="dashboard-middle">
            <div class="dashAvStat">
                <!--<p class="avNum">{{ average_time|duration_format }}</p>-->
                <p class="avNum">0</p>
                <p class="avTitle">average session</p>
            </div>

            <div class="dashTotalStat">
                <!--<p class="totalNum">{{ total_time|duration_format }}</p>-->
                <p class="totalNum">0</p>
                <p class="totalTitle">total study time</p>
            </div>
        </div>

        <!-- Right Column -->
        <div class="dashboard-right">
            <div class="study-sessions-container">
                {% for session in study_sessions %}
                <div class="study-session">
                    <strong>{{ session.title }}</strong><br>
                    Time:
                    {% if session.get_duration.hours > 0 %}
                        {{ session.get_duration.hours }}h
                    {% endif %}
                    {% if session.get_duration.minutes > 0 %}
                        {{ session.get_duration.minutes }}m
                    {% endif %}
                    {{ session.get_duration.seconds }}s
                </div>
                {% empty %}
                <p>No study sessions found.</p>
                {% endfor %}
            </div>
            <h3 class="dashSSTitle">recent study sessions</h3>
        </div>
    </div>

    <div class="accordianDiv">
        <img class="dashboardLine2" src="../../static/scss/media/line2.svg"></img>
        <a href="{% url 'study_timer' %}" class="timersBtn">//start a new study session</a>
        <img class="dashboardLine2" src="../../static/scss/media/line2.svg"></img>
        <a href="{% url 'study_statistics' %}" class="statsBtn">//view your study statistics</a>
        <img class="dashboardLine2" src="../../static/scss/media/line2.svg"></img>
        <a href="{% url 'logout' %}" class="logOff">//logout</a>
        <img class="dashboardLine2" src="../../static/scss/media/line2.svg"></img>
    </div>
</body>
</html>
