{% load static %}
{% load sass_tags %}

<html>

<head>
    
    <meta charset="UTF-8">
    <title>Good Work!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    <link rel="stylesheet" href="{% sass_src 'scss/styles.scss' %}"/>
</head>

<body>
 
    <header>
        <h1>
            <b>StudyMap</b>
        </h1>
        <p class="tagline">Visualize your study habits!</p>
    </header>

    <!-- Display success message -->
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li class="message">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <!-- Display time spent details -->
    <div class="session-details">
        <p>You have successfully completed your study session!</p>
        <p>Total time spent: {{ total_time }}</p>
    </div>

    <!-- Action Buttons -->
    <div class="action-buttons">
        <a href="{% url 'dashboard' %}" class="nb-button blue">Go to Dashboard</a>
        <a href="{% url 'study_timer' %}" class="nb-button blue">Back to Timer</a>
    </div>
</body>
</html>
