{% load static %}
{% load sass_tags %}

<html>
<!-- The head contains metadata, placed between <html> and <body> tag -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="{% sass_src 'scss/styles.scss' %}"/>

</head>

<body>
    <!-- Header -->
    <header>
        <h1>
            <b>StudyMap</b>
        </h1>
        <p class="tagline">Visualize your study habits!</p>
    </header>

    <!-- Main form for login -->
    <form method="POST"> <!--"POST" sends variables as HTTP post transaction-->
        {% csrf_token %}
        <div>
            <input class="nb-input blue" type="text" name="username" id="username" placeholder="Username" required />
        </div>
        <div>
            <input class="nb-input blue" type="password" name="password" id="password" placeholder="Password" required />
        </div>
        <div>
            <button class="nb-button blue" type="submit"> Login </button>
        </div>
    </form>

    <!-- Sends error messages -->
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <p>Don't have an account? <a href="{% url 'register' %}" class="nb-button blue">Sign-Up</a></p>

</body>

</html>
