{% load static %}
{% load sass_tags %}

<html>
<!-- The head contains metadata, placed between <html> and <body> tag -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="{% sass_src 'scss/styles.scss' %}"/>

</head>

<body>
    <!-- Header -->
    <header>
        <h1 class="loginTitleDiv">
            <img class="logoImg" src="../../static/media/logoIcon.svg" alt="studymap logo"></img>
            <b class="loginTitle">studymap</b>
        </h1>
    </header>

    <!-- Main form for login -->
    <form method="POST"> <!--"POST" sends variables as HTTP post transaction-->
        {% csrf_token %}
        <div>
            <input class="nb-input blue" type="text" name="username" id="username" placeholder="username" required />
        </div>
        <div>
            <input class="nb-input blue" type="password" name="password" id="password" placeholder="password" required />
        </div>
        <div>
            <button class="nb-button blue" type="submit">login</button>
        </div>
    </form>

    <!-- Sends error messages -->
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <p class="signUpText">new user? sign up <a href="{% url 'register' %}" class="signUpTextLink">here</a></p>

</body>

</html>
