{% load static %}

<html>
<!-- The head contains metadata, placed between <html> and <body> tag -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="{% sass_src 'static/scss/styles.scss' %}"/>


</head>

<body>
<h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Login</button>
    </form>

    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</body>

</html>
