{% load static %}
{% load sass_tags %}

<html>
<!-- The head contains metadata, placed between <html> and <body> tag -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="{% sass_src 'scss/register.scss' %}"/>
</head>

<body>
    <!-- Header -->
    <header>
        <h1 class="loginTitleDiv">
            <img class="logoImg" src="../../static/scss/media/logoIcon.svg" alt="studymap logo"></img>
            <b class="loginTitle">studymap</b>
        </h1>
        <p class="tagline">//new user registration</p>
    </header>

    <!-- Main form for registration -->
    <form method="POST">
        {% csrf_token %}
        <!-- Render each form field manually to apply custom classes -->
        <div>
            <input class="nb-input blue" type="text" name="username" id="id_username" placeholder="username" required />
        </div>
        <div>
            <input class="nb-input blue" type="email" name="email" id="id_email" placeholder="email" required />
        </div>
        <div>
            <input class="nb-input blue" type="password" name="password1" id="id_password1" placeholder="password" required />
        </div>
        <div>
            <input class="nb-input blue" type="password" name="password2" id="id_password2" placeholder="confirm password" required />
        </div>
        <div>
            <button class="nb-button blue" type="submit">Register</button>
        </div>
    </form>

    <!-- Sends error messages -->
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
