@import 'https://unpkg.com/neobrutalismcss@latest';
@font-face {
  font-family: 'Victor Mono';
  src: url("./VictorMonoAll/TTF/VictorMono-Regular.ttf"); }

body {
  background-color: #231942; }

form {
  margin-top: 50px;
  max-width: 500px;
  /* Adjust the width as needed */
  margin-bottom: 3%; }

/* Style the divs containing the inputs and button */
form div {
  margin-bottom: 40px;
  /* Adds space between elements */ }

.nb-input {
  color: white !important;
  background-color: 231942 !important;
  font-family: 'Victor Mono' !important;
  border-color: 00C8A2 !important;
  margin-left: 105% !important;
  margin-right: auto !important;
  border-radius: 5px !important;
  border-width: 1px !important;
  width: 414px !important; }

.nb-button {
  background-color: 00C8A2 !important;
  font-family: 'Victor Mono' !important;
  text-transform: lowercase !important;
  border-color: 00C8A2 !important;
  border-radius: 5px !important;
  margin-left: 119% !important;
  margin-right: auto !important;
  width: 272px !important; }

.logoImg {
  margin-left: -5%;
  margin-top: 2%; }

/* Dashboard Container */
/*.dashboard-container {
    display: flex !important;
}*/
/* Left Column */
/*.dashboard-left {
    flex: 1;
    margin-right: 20px;
}*/
.loginTitle {
  color: 00C8A2;
  font-size: 38;
  font-family: 'Victor Mono';
  padding-top: 16px; }

.loginTitleDiv {
  margin-left: 45%;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 7%;
  display: flex !important;
  flex-direction: row;
  gap: 2%; }

.signUpText {
  color: white;
  font-family: 'Victor Mono';
  margin-left: 44%;
  margin-right: auto; }

.signUpTextLink {
  color: white;
  font-family: 'Victor Mono'; }

.tagline {
  color: white;
  font-family: 'Victor Mono';
  font-size: 24px;
  margin-left: 36.75%;
  margin-right: auto; }

.timerTitleDiv {
  margin-left: 15%;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 4%;
  display: flex !important;
  flex-direction: row;
  gap: 2%; }

.timerTitle {
  color: white;
  font-size: 26px;
  font-family: 'Victor Mono'; }

.timeSpent {
  color: white;
  font-family: 'Victor Mono'; }

.logoImgTimer {
  height: 40px;
  width: 40px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(310deg) brightness(100%) contrast(103%); }

.timerStartBtn {
  width: 200px;
  color: white;
  background-color: #00c8a2;
  border: none;
  border-color: #00c8a2;
  border-radius: 5px;
  font-family: 'Victor Mono';
  font-size: 26px;
  margin-top: 25px;
  margin-left: 150px; }

.timerStopBtn {
  width: 200px;
  color: white;
  background-color: #00c8a2;
  border: none;
  border-color: #00c8a2;
  border-radius: 5px;
  font-family: 'Victor Mono';
  font-size: 26px;
  margin-top: 25px;
  margin-left: 30px; }

.finishSessionBtn {
  width: 435px;
  color: #00c8a2;
  background-color: white;
  border: 2px;
  border-color: #00c8a2;
  border-radius: 5px;
  font-family: 'Victor Mono';
  font-size: 26px;
  margin-left: 365px;
  margin-top: -15px;
  margin-bottom: 20px; }

.timerNums {
  color: #00c8a2;
  font-family: 'Victor Mono';
  font-size: 162px;
  padding: 20px 20px;
  border: 1px solid;
  border-radius: 5px; }

.secMinHrs {
  display: flex;
  flex-direction: row;
  gap: 11%; }

.secMinHrsTxt {
  color: white;
  font-family: 'Victor Mono';
  font-size: 20px;
  margin-left: 6%; }

.timerOuterDiv {
  margin-left: 15%;
  margin-right: auto; }

.timerLoginInfo {
  color: white;
  margin-left: 15%;
  margin-right: auto;
  font-family: 'Victor Mono'; }

/* Right Column */
.dashboard-right {
  flex: 0 0 300px;
  /* Added flex shorthand */ }

.dashboardTitleDiv {
  display: flex;
  flex-direction: row;
  gap: 1%; }

.dashboardBigIcon {
  border: 1px solid;
  border-radius: 5px;
  border-color: #00c8a2;
  max-width: 400px;
  max-height: 400px;
  margin-left: 15%; }

.streakNum {
  color: #00c8a2;
  font-family: 'Victor Mono';
  font-size: 96px;
  margin-bottom: 10px; }

.streakSubtitle {
  color: white;
  font-family: 'Victor Mono';
  font-size: 36px; }

.dashboardImg {
  height: 40px;
  width: 40px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(310deg) brightness(100%) contrast(103%); }

.dashBoardTitle {
  color: white;
  font-family: 'Victor Mono'; }

/* Study Sessions Container */
.study-sessions-container {
  max-height: 500px;
  max-width: 300px;
  /* Adjust the height as needed */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px; }

/* Individual Study Session */
.study-session {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px; }

/* Optional: Scrollbar Styling */
.study-sessions-container::-webkit-scrollbar {
  width: 8px; }

.study-sessions-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px; }

.study-sessions-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; }

/*@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .dashboard-left, .dashboard-right {
        width: 100%;
        margin-right: 0;
    }

    .dashboard-right {
        margin-top: 20px;
    }
}*/

/*# sourceMappingURL=styles.css.map */